body {
    background-color: #faf9f5;
}

main {
    /*margin-top: 50px;*/
    background-color: #ffffff;
    border-radius: 20px;
}

label {
    white-space: nowrap;
}

.container-fluid {
margin-right: auto;
margin-left: auto;
max-width: 900px;
}

.form-control {
    white-space: nowrap;
    z-index: 1000;
}